:root {
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd992;
  --white: #ffffff;
  --black: #000000;
  --dark: #232330;

  /* fonts */
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  font-family: 'Quicksand', sans-serif;
}