body {
  margin: 0px;
  font-family: 'Mulish', sans-serif;
  background-color: #8F57FD;
  }
  .header {
    align-items: center;
    background-color: #21c08b;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
  }
  .header__img {
    margin-left: 30px;
    width: 200px;
  }
/*  *Not-Found */
.notfound__main {
  align-items: center;
  background: linear-gradient(#21c08b, #ab88ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc( 100vh - 200px );
  margin: 0px auto;
  overflow: hidden;
  width: 100%;
}

.notfound__main--text {
  font-weight: bold;
  color: #fff;
  font-size: 150px;
  font-family: 'Mulish', sans-serif;
  margin-top: 56px;
  text-transform: uppercase;
  text-align: center;
}

.notfound__main--subtext {
  font-weight: bold;
  color: #fff;
  font-size: 38px;
  font-family: 'Mulish', sans-serif;
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

.footer {
  background-color: #ab88ff;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}
.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}